body {
  margin: 0;
}

/* Footer */
.homecontainer1{
  background-color: white;
  width: 100%;
  overflow: hidden;
  bottom:0;
  margin:0;
  padding:0;
  background: white;
}

.homecontainer1 ul{
  list-style-type: none;
}

.homecontainer1 li{
  float: right;
  margin-right: 16px;
}

.homecontainer1 li a{
  display:block;
  color:black;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 1.3rem;
  padding: 14px 16px;
  font-weight:500;
  font-family: "Dancing Script", cursive;
}

.homecontainer1 .leftlogo{
  float:left;
  font-size: 1.7rem;
  font-weight:300;
  margin-left: -30px;
}

/* NavBar */
.homecontainer{
  background-color: white;
  width: 100%;
  overflow: hidden;
  top:0;
  margin:0;
  padding:0;
  background: white;
}

.homecontainer ul{
  list-style-type: none;
}

.homecontainer li{
  float: right;
  margin-right: 16px;
}

.homecontainer li a{
  display:block;
  color:black;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 1.3rem;
  padding: 14px 16px;
  font-weight:700;
  font-family: "Dancing Script", cursive;
}

.homecontainer .leftlogo{
  float:left;
  font-size: 1.7rem;
  font-weight:700;
  margin-left: -30px;
  font-family: "Dancing Script", cursive;
}
/* Landing */
/* .bodycontainer2{
  margin-top: 50px;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 60px;
} */

.bodycontainer2{
  margin-top: 5px;
  height: 30%;
  width: 100%;
}

.bodycontainer2 p{
  text-align: center;
  font-size:2.9rem;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

/* .circlegrid1{
  position: relative;
  border: 1px solid transparent;
  height: 100%;
  border-radius: 0 50% 50% 0;
  background: white;
  overflow: hidden;
} */

.image-container .nails {
  opacity: 0;
  transition: opacity 3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  
}

.image-container .nails.active {
  opacity: 1;
}
.circlegrid2{
  border: 1px solid transparent;
  border-radius: 48px;
  width: 50%;
  height: 430px;
  margin-left: 300px;
  background-color: rgba(247, 246, 245, 0.7);
}

/* .circlegrid3{
  position: relative;
  border: 1px solid transparent;
  height: 100%;
  border-radius: 50% 0 0 50%;
  background: white;
  overflow: hidden;
} */

.glazelogo{
  border: 2px solid black;
  border-radius: 50%;
  width: 40%;
  height: 60%; 
  margin-left: 200px;
}

.nails{
  margin-top: 80px;
  border-radius: 100px;
  border: 2px solid white;
  margin-left: 40px;
}

.hometext {
  margin-top: 20px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 0px;
  margin-bottom: 60px;
  border: 1px solid white;
  background-image: url('./images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
 
}

.layer{
  background-color: rgba(230, 229, 226, 0.7);
  width: 100%;
}

.book{
  width: 100%;
  margin-bottom: 50px;

}

.book button {
  margin-left: 500px;
  text-align: center;
  border: 2px solid black;
  width: 20%;
  padding: 12px 12px;
  background-color: white;
  color:black;
  margin-top: -10px;
  font-weight:600;
}

.book button:hover{
  transform: scale(1.3);
}

.homeimg{
  background-image: url('./images/nailsback.png');
  margin-bottom: -77px;
}
.hometext1 {
  
}

.hometext2{
  
}

/*APPOINTMENT CSS*/

.services{
  margin-top: 50px;
}

.services button{
  margin-left: 40px;
  width: 170px;
  padding: 12px 12px;
  border-radius: 3px;
  border: 2px solid black;
}
.services button:hover{
  transform: scale(1.3);
  font-weight: bold;
}
.bookservice{
  height: 350px;
  margin-bottom: 10px;
}


/*PEDICURE CSS*/
.pedicuregrid{
  margin-top: 50px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}
.pedi1{
  border: 2px solid black;
  padding: 24px 24px;
  border-radius: 6px;
  background-color: rgb(240, 219, 229);
}
.pedi2{
  border: 2px solid black;
  padding: 24px 24px;
  border-radius: 6px;
  background-color: rgb(240, 219, 229);
}
.pedi3{
  border: 2px solid black;
  padding: 24px 24px;
  border-radius: 6px;
  background-color: rgb(240, 219, 229);
}

.pedicuregrid button{
  padding: 12px 12px;
  width: 180px;
  background-color: white;
  border: 1px solid transparent;
  font-weight: bold;
}

.pedicuregrid button:hover{
  transform: scale(1.1);
}
